{% extends 'base.html' %}


{% block title %}  To-Do List  {% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
       <div class="alert alert-success alert-dismissable" role="alert">
            <button class ="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
            {{ message }}
       </div>
    {% endfor %}

{% endif %}

    {% if all_items %}
    <table class ="table table-boardered"> 
        {% for things in all_items %}
            {% if things.completed %}  
                <tr class = "table-secondary">
                    <td class ="striker">{{ things.item }}</td>
                    <td><center>
                        <a href = "{% url 'uncross' things.id %}">
                            <button type="button" class="btn btn-outline-primary">
                            Uncross
                            </button>
                        </a>
                    </center></td>
                    <td><center> <a href="{% url 'delete' things.id %}">
                        <button type="button" class="btn btn-outline-danger">
                        Delete
                        </button>
                    </a></center></td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ things.item }}</td>
                    <td>
                        <center>
                            <a href = "{% url 'cross_off' things.id %}">
                                <button type="button" class="btn btn-outline-primary">
                                Cross
                                </button>
                            </a>
                        </center>
                    </td>
                    <td><center><a href="{% url 'delete' things.id %}">
                        <button type="button" class="btn btn-outline-danger">
                        Delete
                        </button>
                    </a></center></td>
                </tr> 
            {% endif %}
        {% endfor %}
    </table>
    {% endif %}
    

{% endblock %}